table {
    /* table-layout: auto; */
    width: 100%;
    table-layout: fixed;
}

table td {
    vertical-align: middle;
    text-align: center;
}

table th {
    text-align: center;
    padding: 1em 0 1em 0;
    vertical-align: bottom;
}

table th.comparison {
    background-color: lightgray;
    vertical-align: middle;
}

table td a {
    text-decoration: none;
    border-bottom: none;
}

table td:first-child {
    /* 第一列样式 */
    text-align: left;
}

table img {
    max-width: 100%;
    /* 图片最大宽度为父级单元格的100% */
    height: auto;
    /* 高度自动调整以保持纵横比 */
}

h3 {
    text-align: center;
}

.forbidden {
    width: 30%;
    height: 30%;
    object-fit: cover;
}

/* images cover*/
/* img.cover{
	width: 100%;
	height: 100%;
	object-fit: contain;
} */