table td {
    vertical-align: middle;
    text-align: center;
}

table th {
    text-align: center;
    padding: 1em 0 1em 0;
    vertical-align: bottom;
}

table th.comparison {
    background-color: lightgray;
    vertical-align: middle;
}

table td a {
    text-decoration: none;
    border-bottom: none;
}

table td:first-child {
    /* 第一列样式 */
    text-align: left;
}

table td.image {
    text-align: center;
}

h3 {
    text-align: center;
}

.forbidden{
	width: 30%;
	height: 30%;
	object-fit: cover;
}

/* images cover*/
.cover{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
